html {
    box-sizing: border-box;
}

ul {
    list-style: none;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

.navigation {
    position: fixed;
    width: 100%;
    top: 0;
    bottom: 0;
    z-index: 200;
    background-color: transparent;
    border-bottom: none;
}

.nav_bar {
    position: relative;
    border-bottom: 1px solid #e2e2e2;
}

.nav_locations {
    margin: 0 auto;
    background: transparent;
    border-bottom: 0;
    padding-top: 5px;
    padding-bottom: 2px;
    padding-right: 17px;
    padding-left: 17px;
    max-width: 1550px;
}

.search_bar {
    display: flex;
    position: absolute;
    justify-content: space-around;
    left: 10px;
    top: 12px;
}

.space_cosmos {
    display: block;
    position: absolute;
    top: 10px;
    cursor: pointer;
    left: 100px;
}

.underline:hover {
    text-decoration: underline;
}

.space_cosmos_text {
    color: black;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
}

.logo {
    text-align: center;
    padding-top: 0;
}

#nav_logo {
    width: 200px;
    height: 27px;
    margin: 4px auto 0;
}

.sub_login {
    display: flex;
    position: absolute;
    justify-content: space-around;
    top: 4px;
    right: 14px;
}

.subscribe {
    background-color: #567b95;
    border-radius: 5px;
    cursor: pointer;
    border: 0.1px solid black;
    color: white;
    font-size: 12px;
    font-weight: 700;
    line-height: 12px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.1px;
    padding: 9px 12px 8px;
    text-decoration: none;
    display: inline-block;
    margin-right: 10px;
}

.login {
    background-color: #567b95;
    border-radius: 5px;
    cursor: pointer;
    border: 0.1px solid black;
    color: white;
    font-size: 12px;
    font-weight: 700;
    line-height: 12px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.1px;
    padding: 9px 12px 8px;
    text-decoration: none;
    display: inline-block;
    margin-right: 10px;
}


/* Heading and Image*/

.image-container {
    display: block;
    margin-top: 140px;
    margin-left: 40vh;
    cursor: pointer;
}

#image_top {
    display: flex;
    width: 115vh;
    height: 60vh;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.photo_desc {
    float: left;
    color: #666;
}

.photo_credits {
    font-size: 12px;
}

.image-container h1 {
    margin-left: 30px;
}

article {
    width: 1000px;
    margin: 0 auto;
}

.name-link {
    text-decoration: none;
}

.name-link:hover {
    text-decoration: underline;
}

.socials {
    margin-top: 16px;
    flex-direction: row;
}

.icons {
    display: flex;
    flex-direction: row;
    margin-left: 123vh;
}

.icons li {
    margin: auto 5px;
}

.author {
    margin-left: 40vh;
    color: black;
}

.author:hover {
    text-decoration: underline;
}

.date {
    margin-left: 40vh;
}


/* Editor's Picks */

.editors_picks img {
    max-width: 60px;
    max-height: 120px;
}

.editors_picks {
    text-decoration: none;
    float: right;
    font-size: 10px;
    margin: 0px 0px 0px 42.5px;
}

.editors_picks hr {
    width: 20%;
}

.picks a {
    text-decoration: none;
    color: black;
}


/* Video  */

.video {
    justify-items: center;
    margin-left: 25vh;
    color: #666;
}

.video_footer2 {
    font-size: 12px;
}


/* Telescope Image */

#telescope_image {
    width: 115vh;
    height: 60vh;
}

.telescope_figure {
    color: #666666;
}